ConnectionStrings__DefaultConnection=xxxxx
AWS__Region=xxxxx
AWS__AccessKey=xxxxx
AWS__SecretKey=xxxxx
Cognito__UserPoolId=xxxxx
Cognito__ClientId=xxxxx
Cognito__ClientSecret=xxxxx
S3__BucketName=xxxxx
S3__BucketFolder=xxxxx